* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', system-ui, sans-serif;
}


body {
  min-height: 100vh;
  background: linear-gradient(135deg,  #8b5cf6 0%, #6366f1 100%);
}

.required {
  color: red;
}

.form-control.is-invalid {
  margin-bottom: 0;
}