<div class="sidebar" [@sidebarState]="isExpanded ? 'expanded' : 'collapsed'">

    <button class="collapse-button" (click)="toggleSidebar()">
        <img [class.rotate-icon]="!isExpanded"
             width="20"
             height="20"
             alt="toggle sidebar"
             src="/sidebar.png"/>
    </button>

    <div class="sidebar-content">
        <!-- Main Navigation -->
        <nav>
            <ng-container *ngFor="let item of menuItems">
                <a [routerLink]="item.route"
                   routerLinkActive="active"
                   class="nav-item"
                   [class.collapsed]="!isExpanded">
                    <i class="fas {{item.icon}}"></i>
                    <span class="label" *ngIf="isExpanded">{{item.label}}</span>
                </a>
            </ng-container>
        </nav>
    </div>

</div>