.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    .header {
        height: 60px;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .body {
        flex: 1;
        display: flex;
        overflow: hidden;

        .sidebar {
            height: 100%;
            z-index: 99;
        }

        .content {
            flex: 1;
            overflow-y: auto;
            padding: 1.5rem;
        }

        .login-content {
        background: linear-gradient(135deg,  #8b5cf6 0%, #6366f1 100%);
        }

        .main-content {
            background: linear-gradient(135deg, #e5e7eb, #f3f4f6)
        }
    }
}